/* Style for the tabs */
.tabs {
  display: flex;
  justify-content: space-between; /* Distribute tabs evenly */
  background-color: #333;
  overflow: hidden;
  padding: 0;
}

.tablink {
  background-color: #ff5733; /* Default background color for all tabs */
  color: #fff;
  padding: 15px 20px;
  flex: 1; /* Make all tabs equal length and distribute space evenly */
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0; /* Remove rounded corners */
  transition: background-color 0.3s ease; /* Add a smooth hover effect */
}

/* Change color on hover */
.tablink:hover {
  background-color: #555;
}

/* Style for the tab content */
.tabcontent {
  display: none;
  padding: 20px;
  background-color: #f2f2f2;
  font-size: 18px; /* Increase font size for all tab content */
  display: flex;
  align-items: center;
}

/* Style for the active tab */
#AboutMe {
  display: block;
}

.about-me-content img {
  max-width: 200px;
  margin-right: 20px;
}
/* .header {
  background-color: antiquewhite;
} */

.tabcontent ul li {
  margin-bottom: 10px; /* Add spacing between list items */
}

body {
  background-color: antiquewhite;
}
